<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>

  </p>
  
  <p class="rating">
    <% arr = Array.new(5) %>
    <% count = product.reviews.average('rating').to_i %>
    <% for i in 0..4 %>
    <% count - 1 >= 0 ? arr[i] = 'star' : arr[i] = 'star-o' %>
    <% count -= 1  %>
    <% end %>
    <dd>
      <%= fa_icon arr[0] %> <%= fa_icon arr[1] %> <%= fa_icon arr[2] %> <%= fa_icon arr[3] %> <%= fa_icon arr[4] %> 
      | <%= product.reviews.count %> customer reviews
    </dd>
  </p>

  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>
  
  <% if product.quantity == 0 %>  
  <aside class="sold-out">
    SOLD OUT!
  </aside>
  <% end %>  

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
