<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>

          <dt>User Reviews</dt>
          <div class="container">
          <% @review.reverse.each do |review|  %>
            <% arr = Array.new(5) %>
            <% count = review.rating %>
            <% for i in 0..4 %>
            <% count - 1 >= 0 ? arr[i] = 'star' : arr[i] = 'star-o' %>
            <% count -= 1  %>
            <% end %>
            <dd><%= fa_icon arr[0] %> <%= fa_icon arr[1] %> <%= fa_icon arr[2] %> <%= fa_icon arr[3] %> <%= fa_icon arr[4] %></dd>
          <dd><%= review.user.first_name %> <%= review.user.last_name %></dd>
          <dd><%= review.description %></dd>
            
          <% end %>
          </div>
        </dl>
      </div>
    </div>

       <div class="row">
    <ul>
    <li><%= session[:user_id] %></li>
    

    
    </div>
    <% @review_currentuser.each do |review|  %>
      <%= link_to "Delete", product_review_path(:product_id => @product.id, :id => review.id) , method: :delete, data: {confirm: "Are you sure you want to remove your review?"} %>

    <%= review.description %>
    <% end %>
    <% if session[:user_id] %>

    

    <div class="row">
      <%= form_for ([@product, @review_new]) do |f| %>
        <%= f.select :rating, [ 1, 2, 3, 4, 5] %>
        <%= f.text_area :description %>
        <%= f.submit 'Add Review!' %>
      <% end %>
    <% end %>
    </div>
  </article>
</section>
